<p>table-form works!</p>
<div class="col-12">
    <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
              class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
                <th *ngFor="let title of tableHeader" class='table-header'>{{title.header}}</th>
            </tr>
          </thead>
          <tbody>           
            
            <tr>
              <td class="pt-3-half"><input type="text" class="form-control" value="Guadalupe House">  </td>
              <td class="pt-3-half" ><input type="number" class="form-control" value="9"> </td>
              <td class="pt-3-half" ><input type="number" class="form-control" value="9"> </td>
              <td class="pt-3-half" ><input type="number" class="form-control" value="9"> </td>
              <td class="pt-3-half" ><input type="number" class="form-control" value="9"> </td>              
            </tr>

          </tbody>
        </table>
      </div>
</div>
